.about {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

  @media (min-width: $sm) and (max-width: $mdmax) {
    padding-top: 120px;
    padding-bottom: 140px;

  }

  @media (min-width: $md) {}

  &__title {

    font-size: 26px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      font-size: 42px;
      margin-bottom: 50px;
      text-align: center;
    }

  }

  &__img-wrapper {
    flex-shrink: 0;
    margin: 0 auto;
    max-width: 220px;
    padding-top: 30px;
    padding-bottom: 14px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      max-width: 220px;
    }
  }

  &__info {

    &-inner {


      @media (min-width: $sm) and (max-width: $mdmax) {
        padding-left: 20px;

      }

    }

    @media (min-width: $sm) and (max-width: $mdmax) {
      display: flex;
      text-align: left;

    }


  }



  &__img {


    @media (min-width: $sm) and (max-width: $mdmax) {}

  }

  &__subtitle {
    max-width: 184px;
    margin: 0 auto;
    font-size: 22px;
    margin-bottom: 20px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      max-width: 344px;
      margin: 0;
      font-size: 26px;
    }
  }

  &__text {

    font-family: $secondary-font;
    color: #4c4b4b;
    font-size: 16px;
    margin-bottom: 20px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      font-size: 16px;
      margin-bottom: 26px;
    }
  }

  &__signup {
    color: #ef6c00;
    font-size: 22px;
    font-weight: bold;


  }
}
//TABLET STYLES