.about {
  padding-left: 18px;
  padding-top: 70px;
  padding-right: 18px;
  padding-bottom: 70px;

  text-align: center;

  &__title {

    font-size: 26px;
    margin-bottom: 28px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      font-size: 42px;
      margin-bottom: 50px;
    }

    @media (min-width: $md) and (max-width: $xlmax) {}
  }

  &-img__wrapper {
    margin: 0 auto;
    max-width: 220px;
  }

  &__info {

    &-inner {
      margin-bottom: 70px;

      @media (min-width: $sm) and (max-width: $mdmax) {
        padding-left: 20px;
        margin-bottom: 140px;

      }

    }

    @media (min-width: $sm) and (max-width: $mdmax) {
      display: flex;
      text-align: left;

    }


  }

  &__img-wrapper {
    min-width: 240px;
    margin-bottom: 29px;

    &--skill {
      margin: 0 auto;
      max-width: 90px;
      margin-bottom: 14px;

    }
  }

  &__img {


    @media (min-width: $sm) and (max-width: $mdmax) {}

  }

  &__subtitle {
    max-width: 184px;
    margin: 0 auto;
    font-size: 22px;
    margin-bottom: 12px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      font-size: 26px;
    }
  }

  &__text {

    font-family: $secondary-font;
    color: #4c4b4b;
    font-size: 16px;
    margin-bottom: 21px;

    @media (min-width: $sm) and (max-width: $mdmax) {
      font-size: 16px;
    }
  }

  &__signup {
    color: #ef6c00;
    font-size: 22px;
    font-weight: bold;


  }
}