*,
::before,
::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

hr {
  margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}


h3 {
  font-size: 22px;
}

p {

  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}


img {
  width: 100%;
  height: auto;
}

.page__wrapper {
  max-width: 1025px;
  margin: 0 auto;
}

.content-container {
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $sm) and (max-width: $mdmax) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (min-width: $md) {
    padding-left: 47px;
    padding-right: 47px;

  }
}

.list-item {
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;

  @media (min-width: $md) {
    padding: 15px;
  }


}

.only {

  &-sm {
    @media (min-width: $sm) {
      display: none;
    }

    &-md {
      @media (min-width: $md) {
        display: none;
      }
    }

  }

  &-md {
    display: none;

    @media (min-width: $sm) and (max-width: $mdmax) {
      display: block;
    }

    // @media (min-width: $md),
    // (max-width: $smmax) {
    //   display: none;
    // }

    &-lg {
      display: none;

      @media (min-width: $sm) {
        display: block;
      }

    }

  }

  &-lg {
    display: none;

    @media (max-width: $mdmax) {
      display: none;
    }
  }
}



// .header {
//   display: none;
// }

// .banner {
//   display: none;
// }

// .about {
//   display: none;
// }

// .webdev {
//   display: none;
// }

// .req {
//   display: none;
// }