// Colors

// Sizes
$base-font-size: 16px;
$content-size: 1240px;

// Fonts
$main-font: "Overpass",
sans serif;
$secondary-font: "Source Sans Pro",
sans serif;

$smmax: 767.98px;
$sm: 768px;
$mdmax: 1023.98px;
$md: 1024px;
$lgmax: 1367.98px;
$lg: 1368px;
$xlmax: 1979.98px;
$xl: 1980px;