.webdev {
  text-align: center;

  &__title {

    font-size: 26px;
    color: #000;
    margin-bottom: 34px;

  }

  &__skill {

    display: flex;
  }

  &__img-wrapper {

    max-width: 87px;
    margin: 0 auto;
    margin-bottom: 14px;
  }

  &__img {}

  &__skill-desc {}

  &__subtitle {

    font-size: 22px;
    color: #000;
    margin-bottom: 13px;
  }

  &__text {

    font-size: 16px;
    color: #4c4b4b;
    margin-bottom: 30px;
  }

  @media (min-width: $sm) and (max-width: $mdmax) {
    text-align: left;
    padding-bottom: 120px;

    &__title {
      max-width: 542px;
      font-size: 42px;
      text-align: center;
      margin: 0 auto 50px;
    }

    &__skill {

      max-width: 660px;
      margin: 0 auto;
      padding-left: 60px;
      padding-right: 60px;
    }

    &__img-wrapper {
      flex-shrink: 0;
      margin-right: 35px;
      width: 88px;
    }

    &__skill-desc {}

    &__subtitle {
      font-size: 26px;
    }

    &__text {
      font-size: 16px;
    }
  }
}